---
layout: layout.njk
eleventyNavigation:
  key: Our Cafe
---
<h1> The Paw Lounge Cafe</h1>


<article>
<div class="darkparagraph">
 <h2>Cafe Meownu for all Hoooman visitors</h2>

 <p>The Paw Lounge serves the best snacks in town <q>Mr Bigglesworth (pictured below)</q></p>
</div>
</article>


<div class="cafe-container">
    <div class="cafe-item">
        <img src="/images/cat-coffee.png" width="300" height="300">
    </div>

    <div class="cafe-item">
        <h2>Warm Kitty Drinks</h2>
      
        <table class="tablestyle">
            <tr>
                <th>Drink</th>
                <th>Price(€)</th>
            </tr>
            <tr>
                <td>Irish Breakfast Tea</td>
                <td>2.00</td>
              
            </tr>
            <tr>
                <td>Herbal Teas</td>
                <td>2.00</td>
               
            </tr>
            <tr>
                <td>Americano</td>
                <td>3.00</td>
          </tr>
              <tr>
                <td>Cappuccino</td>
                <td>3.50</td>
          </tr>
           <tr>
                <td>Flat White</td>
                <td>3.50</td>
               
            </tr>
          
               <tr>
                <td>Café Latte/Chai Latte</td>
                <td>4.00</td>
               
            </tr>
              
               <tr>
                <td>Nutella Hot Chocolate </td>
                <td>4.00</td>
               
            </tr>
          
              
               <tr>
                <td>Milky Bar White Hot Chocolate</td>
                <td>4.00</td>
               
            </tr>
              
               <tr>
                <td>Chilli Hot Chocolate</td>
                <td>4.00</td>
               
            </tr>
              
               <tr>
                <td>Baby Hot Choco</td>
                <td>1.90</td>
               
            </tr>  
           
        </table>
    </div>


    <div class="cafe-item">
        <img src="/images/ginger.png" width="300" height="300">
    </div>


    <div class="cafe-item">
        <h2>Cool Kitty Drinks</h2>
        <table class ="tablestyle">
            <tr>
                <th>Drink</th>
                <th>Price(€)</th>
              
            </tr>
            <tr>
                <td>Iced Black Coffee</td>
                <td>3.50</td>
               
            </tr>
            <tr>
                <td>Ices Latte with flavour of choice</td>
                <td>4.00</td>
             
            </tr>
            <tr>
                <td>Carmel Frappe</td>
                <td>4.00</td>
          
            </tr>
          
           <tr>
                <td>Iced Peach Tea</td>
                <td>4.00</td>
          
            </tr>
          
          
          
           <tr>
                <td>Carmel Frappe</td>
                <td>5.00</td>
          
            </tr>
           <tr>
                <td>Kitty Milkshake (Strawberry/Chocolate) </td>
                <td>5.00</td>
          
            </tr>
          
          
        </table>
    </div>

    <div class="cafe-item">
        <img src="/images/person.png" width="500" height="400">
    </div>

</div>
