---
layout: layout.njk
eleventyNavigation:
  key: Members Club
---

<h1>Spa Membership</h1>


<article>
<p>The Paw Lounge is delighted To now offer Spa Membership, so that our customers can get some pawsome savings.<br>



Our Spa Membership includes up to one Massaging Bath, Deshedding treatment, Ear Cleaning & Brush standing appointment each week! Spa membership Kittys have standing appointments that are scheduled for the same day and same time each week.<br>

Members may visit us every week, every other week or whenever they feel they need it as long as it is at their scheduled appointment time.</p>
<br>
</article>

<br>
<br>

<div id="members-images">
<img src="/images/three cat.png" width="250" height="300">
<img src="/images/catbath.png" width="250" height="300">
<img src="/images/shampoocat.png" width="250" height="300">
<img src="/images/widebath.png" width="250" height="300">
</div>

<br>
<br>


<article>
<p>
Most people believe that a cat’s self-grooming is enough to maintain a healthy pet. But in fact, cats need grooming/bathing on a regular basis. A cat’s habit of licking itself has a harmful effect if not groomed regularly. When a cat licks itself it pulls out dead hair that can cause hairballs and harm to their digestive tract. Regular grooming at The Paw Lounge Spa can reduce the amount of dead hair in a cat’s coat hence reducing the amount of hair the cat can swallow.
<br>
<br>
Not only is regularly grooming healthy for your cat, it helps you stay healthy too. Grooming your cat will reduce the amount of dander or flaky allergen that causes human allergies to cats. Dander is the chemical residue left from the saliva which dries on the cat’s coat.
<br>
<br>
At The Paw Lounge Spa you can be assured that your cat is in the right hands.
Our cat groomers have the knowledge and experience needed to safely groom your cat. In fact, our cat groomers specialize in the art of cat grooming. This will help make your pet’s experience stress-free.
</p>
</article>