---
layout: layout.njk
eleventyNavigation:
  key: News and Events
---

<h1>Events at The Paw lounge</h1>

<section>
  <article>
    <p>
    Every First Saturday of the Month The Paw Lounge has its Book Club meeting. Where like minded Cat lovers meet to discuss the book clubs selected book. Followed by some delicious tea and treats. Everyone is welcome to please feel free to join.

    <figure class="bookcat">
      <img src="/images/bookclub.png" width="400" height="400"class="residents-pics">
      <figcaption>
      <strong>Someone is sleeping on the job!</strong>
      </figcaption>
    </figure>
  </p>
  </article>
</section>