---
layout: layout.njk
eleventyNavigation:
  key: Residents
---

<h1>Meet the <strong>Nine<strong></strong> Special Residents who live in the Paw Lounge</h1>

<article>


<p>The owners of The Paw Lounge are both crazy cat people and own nine beautiful cats, pictured below.
  <br>

All these cats enjoy cuddles and rubs, so feel free to say meowlo when you visit us!
</p>
</article>
<div class="meowpic">


<figure>
<img src="/images/Rupert.png" width="400" height="300">
 <figcaption>RUPERT</figcaption>
</figure>
<figure>
<img src="/images/pudding.png" width="400" height="300" >
 <figcaption>PUDDING</figcaption>
</figure>
<figure>
<img src="/images/samanta.png" width="400" height="300">
 <figcaption>SAMANTA</figcaption>
</figure>
<figure>
<img src="/images/paddy.png" width="400" height="300">
 <figcaption>NOODLE</figcaption>
</figure>
<figure>
<img src="/images/noodle.png" width="400" height="300">
 <figcaption>Mr Bigglesworth</figcaption>
</figure>
<figure>
<img src="/images/babykaspar.png" width="400" height="300">
 <figcaption>KASPAR</figcaption>
</figure>
<figure>
<img src="/images/oscar.png" width="400" height="300">
 <figcaption>OSCAR</figcaption>
</figure>
<figure>
<img src="/images/leo.png" width="400" height="300">
 <figcaption>LEO</figcaption>
</figure>
<figure>
<img src="/images/misty.png" width="400" height="300">
 <figcaption>MISTY</figcaption>
</figure>

</div>