---
layout: layout.njk
eleventyNavigation:
  key: Spa Services
---
<div class="flex-container">
  <div class="flex-item">
   <strong>The Lion Spa Package</strong><br>
    €150
     <ul>
    <li>Luxury Oatmeal Shampoo</li>
    <li>Luxury Conditioner</li>
    <li>Deshedding treatment</li>
    <li>Hair Style of Owners Choice</li>
    <li>Sanitary Clip</li>
    <li>Gentle Ear Clean</li>
    <li>Special After Groom Treat</li>
    <li>Relaxing Massage</li>
    <li>Nail Trim</li>
    <li>Bow of Choice</li>

  </ul>
</div>



<div class="flex-item">
 <strong>The Tiger Spa Package</strong><br>
    €100
    <ul>
    <li>Luxury Oatmeal Shampoo</li>
    <li>Luxury Conditioner</li>
    <li>Deshedding treatment</li>
    <li>Hair Style of Owners Choice</li>
    <li>Sanitary Clip</li>
    <li>Nail Trim</li>
    <li>Gentle Ear Clean</li>
    <li>Special After Groom Treat</li>
     
  </ul>
  </div>






<div class="flex-item">
<strong>The Panter Spa Package</strong><br>
    €80
    <ul>
    <li>Luxury Oatmeal Shampoo</li>
    <li>Luxury Conditioner</li>
    <li>Hair Trim</li>
    <li>Sanitary Clip</li>
    <li>Gentle Ear Clean</li>
    <li>Nail Trim</li>
  </ul>
  </div>



  <div class="flex-item">
<strong>Extra Spa Services</strong><br>
    €30 each, €50 for two 
    <ul>
    <li>Luxury Oatmeal Shampoo and Conditioner</li>
    <li>Deshedding Treatment</li>
    <li>Full Coat Brush</li>
    <li>Flea Shampoo</li>
    <li>Sanitary Clip</li>
    <li>Nail Trim</li>
    <li>Nail Paint (Cat Safe)</li>
    <li>Relaxing Message</li>
  </ul>

  </div>

</div>