---
layout: layout.njk
eleventyNavigation:
  key: Spa-Rules
---

<!-- FAQ page -->

<section>
  <article>
<p class="sparules">
Dear Customers,
We want to give our cats the best place to relax and live, so please follow the rules:
<br>
<h2>Cafe Rules</h2>
<img src="/images/relax.png" width="300" height="300"class="rulecat">
<br>

<ul class=spa-rules>
<li>Please don’t put visiting cats on the tables.</li>

<li>Take care of your belongings to avoid damage.</li>

<li>Our cats like sitting on your laps, so please put one of our blankets on your legs first to avoid kitty hair getting on your clothes.</li>

<li>Do not pick up the cats when they are sleeping.</li>

<li>Be gentle with the cats.</li>

<li>Do not feed the cats.</li>

<li>You are welcome to take photos but please turn off the flash.</li>

<li>Supervise children at all times.</li>

<li>Thank you! We look forward to welcoming you at our cafe and hope that you enjoy your time with our Kittys!</li>

</ul>
</p>
</article>
</section>

<section>
  <article>
<h2>Spa Rules </h2>
<br>
<img src="/images/relax2.png" width="300" height="300" class="rulecat">
<br>
<p class="sparules">All cats entering A Pet Spa Grooming must be:
<ul class=spa-rules>
<li>Free of any parasitic infestation</li>
<li>Provide Vacination Certificate</li>
<li>Be collected on time</li>
</ul>
</p>
</article>
</section>